}

html,body{
margin:0px;
height:100%;
background-color: #191E21;   
}



div#titulo{
  	width: 768px;
  	height: 50px;
  	background-color: #D6D6D6;
  	margin: 10px auto;
  	text-align: center;
  	margin-top: 5px;

  }
div#contenedor{
   background-color:red;
    min-width:512px;
    min-height:384px;
    width:1024px;
    height:768px; 
    max-width:1536px;
    max-height:1152px;
    overflow:scroll;
    margin:auto;
}
div#marco{
    background-color:blue;
    width:400%;
    height:100%;
}
div.slide1{
    
    background-color:green;
    width:25%;
    height:100%;
    float:left;
    
}
div.slide2{
    
    background-color:red;
    width:25%;
    height:100%;
    float:left;
}
div.slide3{
    
    background-color:green;
    width:25%;
    height:100%;
    float:left;
}
div.slide4{
    
    background-color:red;
    width:25%;
    height:100%;
    float:left;
}