div#contenedor{
   background-color: #FFFFFF;
    width:76%;
    height:auto;
    overflow:hidden;
    margin:auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}
div.slide1{
    width:25%;
    height:100%;
    float:left;
}
div.slide2{
    width:25%;
    height:100%;
    float:left;
}
div.slide3{
    width:25%;
    height:100%;
    float:left;
}
div.slide4{
    width:25%;
    height:100%;
    float:left;
}
div.margen{
    width:400%;
    height:100%;
}
.margen1{
    transition:all 1s;
    width: 400%;
    height: 100%;
    margin-left: -100%;
}
.margen2{
    transition:all 1s;
    width: 400%;
    height: 100%;
    margin-left: -200%;
}
.margen3{
    transition:all 1s;
    width: 400%;
    height: 100%;
    margin-left: -300%;
}
div.gatablanca{
    width:10%;
    height:20%;
    position:absolute;
    top:8%;
    left:37%;
}
div.gatoflaco{
    
    background-color: blue;
    width:150px;
    height:100px;
    position:absolute;
	top:0%;
	left:0%;
}
